{% extends 'layouts/main.html' %}
{% block title %}
💱 FOREX
{% endblock %}
{% block content %}
{% if is_closed %}
<div id="alert" class="alert alert-danger font-weight-light">Forex Trading is available 24 hours a day from 10:00 PM UTC Sunday to 9:00 PM UTC on Friday. Charts aren't live.</div>
{% endif %}
{% for cp, div in divs.items() %}

<div id="row_{{ cp }}" class="row pl-3 pb-3">

  <div class="col-1  bg-dark card">
    <div class="row">
      <div class="card-body bg-light">
        <p id="current_{{ cp }}" class="card-text text-center font-weight-lighter"></p>
        <p id="delta_{{ cp }}" class="card-text"></p>
        <p id="closed_{{ cp }}" class="card-text"></p>
      </div>
    </div>
  <!-- this was a mistake but it ended up working -->
  <div class="row">
        <div class="font-weight-lighter text-light text-center">{{ cp.upper() }}
        </div>
  </div>

  </div>
  <div class="col-10">
    {{ div|safe }}
  </div>

</div>

{% endfor %}

{{ script|safe }}


{% endblock %}
